<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 class="bp2">Task Management Project</h1>

    <div class="task-list bm bp">
        <div class="task-list-inner-block bp">
            <div class="command-header">
                <div>
                    <!-- Button to toggle the Add Task form -->
                    <button class="bm button" onclick="toggleAddForm()">Add New</button>
                    <div id="add-form" class="add-form hide">
                        <!-- Form to add a new task -->
                        <form action="/add-task" method="POST">
                            <div class="label-input">
                                <label for="title">Title: </label>
                                <input type="text" name="title" required/>

                                <label for="description">Description: </label>
                                <input type="text" name="description" required/>

                                <label for="priority">Priority Level: </label>
                                <select name="priority">
                                    <option value=1>High</option>
                                    <option value=2 selected>Medium</option>
                                    <option value=3>Low</option>
                                </select>
                            </div>
                            <div class="button-center">
                                <button type="submit">Submit</button>
                                <button type="button" onclick="toggleAddForm()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="control-buttons">
                    <div>
                        <!-- Sorting form -->
                        <form class="bm control-form" id="sort-form" action="/sort">
                            <label for="sort">Sort By</label>
                            <select name="sort" onchange="document.getElementById('sort-form').submit();">
                                <option class="option" value="id" <%= selectedSort === 'id' ? 'selected' : '' %>>ID</option>
                                <option class="option" value="pa" <%= selectedSort === 'pa' ? 'selected' : '' %>>Priority: Ascending</option>
                                <option class="option" value="pd" <%= selectedSort === 'pd' ? 'selected' : '' %>>Priority: Descending</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <!-- Filtering form -->
                        <form class="bm control-form" id="filter-form" action="/filter">
                            <label for="filter">Filter By</label>
                            <select name="filter" onchange="document.getElementById('filter-form').submit();">
                                <option class="option" value=2 <%= selectedFilter === 2 ? 'selected' : '' %>>All</option>
                                <option class="option" value=1 <%= selectedFilter === 1 ? 'selected' : '' %>>Completed</option>
                                <option class="option" value=0 <%= selectedFilter === 0 ? 'selected' : '' %>>Pending</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <!-- Search form -->
                        <form class="bm control-form" id="search-form" action="/search">
                            <label for="search">Search for title</label>
                            <input type="text" name="search" value="<%= selectedSearch %>"/>
                            <button class="search-button" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Table headers for the task list -->
            <div class="task-heading">
                <p class="column-name">ID</p>
                <p class="column-name">Title</p>
                <p class="column-name">Description</p>
                <p class="column-name">Priority</p>
                <p class="column-name">Status</p>
                <img class="column-name" src="complete.png"/>
                <img class="column-name" src="delete.png"/>
            </div>
            
            <!-- Loop through tasks and display them -->
            <% tasks.forEach(task => { %>
                <div class="task-info 
                <%= task.completed ? 'strike' : '' %> 
                <%= (selectedFilter !== 2 && selectedFilter !== task.completed) ? 'hide' : '' %> 
                <%= (task.title.toLowerCase().includes(selectedSearch.toLowerCase()) && selectedSearch !== '') ? 'highlight' : '' %>">
                    <p><%= task.id %></p>
                    <p><%= task.title %></p>
                    <p><%= task.description %></p>
                    
                    <!-- Display priority level based on task priority value -->
                    <% if(task.priority == 1) { %>
                        <p>High</p>
                    <% } else if(task.priority == 2) { %> 
                        <p>Medium</p>
                    <% } else { %>
                        <p>Low</p>
                    <% } %>
                    
                    <!-- Display task status -->
                    <% if(task.completed) { %>
                        <p>Completed</p>
                    <% } else { %> 
                        <p>Pending</p>
                    <% } %>
                    
                    <!-- Action buttons to toggle task completion and delete task -->
                    <a class="tr" href="/toggle-task/<%= task.id %>"><img src="complete.png" alt="Checkmark Icon"></a>
                    <a class="tr" href="/delete-task/<%= task.id %>"><img src="delete.png" alt="Delete Icon"></a>
                </div>
            <% }); %>
        </div>
    </div>

    <script>
        // Function to toggle the visibility of the Add Task form
        function toggleAddForm(){
            document.getElementById("add-form").classList.toggle("hide");
        }
    </script>
</body>
</html>
